# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore Frontend dependencies
frontend/node_modules/
frontend/dist/


# Ignore Backend dependencies
backend/venv/
backend/__pycache__/
backend/*.pyc

# Ignore Environment secrets
backend/.env
frontend/.env

# System files
.DS_Store
Thumbs.db